@font-face {
  font-family: 'Mono';
  src: url('fonts/woff2/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

@viewport {
  width: device-width;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width;
}

body {
	background-color: #FFFFFF;
	color: white;
	font-family: Mono;
	font-variant-ligatures: none;
	margin: 0px;
}

h2 {
	margin: 0px;
}

h3 {
	margin: 0px;
}

.invisible {
	display: none;
}

.header {
	padding: 10px 0px;
	background-color: #2D90DE;
	text-align: center;
	height: 67.3px;
	width: 100%;
	position: absolute;
}

.headerdivider {
	background-color: #4CA6ED;
	border: none;
	height: 0.6vh;
	margin: 0px;
}

#cookienotice {
	z-index: -1;
	background-color: #4CA6ED;
	border: none;
	display: none;
	position: absolute;
	height: 2.5vh;
	width: 100%;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	text-align: center;
}

#cookienotice a.text{
	font-size: 2vh;
	font-weight: bold;
	top: 0px;
}

#cookienotice a.button {
	font-size: 2vh;
	background-color: #2D90DE;
	position: relative;
	cursor: pointer;
	padding: 0px 1vw;
	top: 0px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Chrome, Edge, Opera and Firefox */
}

#navProfileContainer {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 87px;
	display: none;
}

#usernameText {
	position: relative;
	height: 100%;
	bottom: 5px;
	border-radius: 100%;
}

#pfpImg {
	position: relative;
	height: 100%;
	top: 0px;
	right: 0px;
	border-radius: 100%;
}

#pfpBtn {
	margin: 0px !important;
	text-decoration: none !important;
	border: none !important;
}

#modalBtn {
	color: #8BCAFC !important;
	font-size: 0.8vw !important;
	border-style: none !important;
	cursor: pointer;
	display: none;
	position: absolute;
	right: 0.3vw;
	top: 3px;
	margin: 0px;
}

#modalBtn:hover {
	font-weight: bold;
}

.navbar {
	padding-top: 20px;
	margin: 0px;
	left: 50%;
}

.navbar a {
	color: #D3D3D3;
	margin: 0px 2vw 0px 2vw;
	text-decoration: none;
	font-size: 22px;
}

.navbar a:hover {
	color: #FFFFFF;
	border-bottom: 0.6vh solid #00BFFF;
}

.navbar a.active {
	color: #FFFFFF;
	border-bottom: 0.6vh solid #00BFFF;
	cursor: pointer;
}

#bodyContainer {
	z-index: -1;
	background-color: #F3F4F6;
	color: #383838;
	width: 60vw;
	min-height: 100vh;
	margin-left: 20vw;
	padding: 110px 1.5vh 2.5vh 1.5vh;
	position: absolute;
	top: 0px;
	-webkit-box-shadow: 7px 0px 0px 0px #A5A6A7, -7px 0px 0px 0px #A5A6A7;
	-moz-box-shadow: 7px 0px 0px 0px #A5A6A7, -7px 0px 0px 0px #A5A6A7;
	box-shadow: 7px 0px 0px 0px #A5A6A7, -7px 0px 0px 0px #A5A6A7;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#modalContainer {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 75px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	justify-content: center;
}

.signInModal {
	background-color: #2D90DE;
	color: #FFFFFF;
	margin: auto;
	padding: 0px;
	width: 350px;
	height: 250px;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.3);
}

.signInBtnContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}