$primary: #ffce96;
$secondary: #f1f2da;
$highlight: #ff7777;
$background: #00303b;
$background_secondary: #003845;

.App {
  	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: $background;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px + 2vmin;
	color: $primary;
}

.App-link {
 	color: $highlight;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
