html, body {
    background-color: #1a1a1a;
    color: #39d139;
    font-family: monospace;
}

body {
    border: 1px solid #39d139;
    border-radius: 5px;
    min-height: 300px;
    width: 450px;
    padding: 10px;
}

input {
    background-color: #3b3b3b;
    color: #39d139;
    outline: none;
    border: 1px solid #5a5a5a;
}

input:focus {
    border: 1px solid #39d139;
}

h2 {
    display: inline;
    word-wrap: break-word;
    overflow-wrap: break-word;
}